.viewer-root {
  /* Next.js default font-family */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.viewer-root table {
  border-collapse: collapse;
}

.viewer-root table > thead {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.viewer-root table > tbody {
  border-bottom: 1px solid;
}
